* {
    box-sizing: border-box;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 600px;
    margin: 0 auto 0 auto;
}

.grid-container {
    display: flex;
    flex: auto;
}

.row-item {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    flex: 1 1 100%;
    background-color: aliceblue;
}

.row-item:hover {
    background-color: aquamarine;
}